anyio~=2.2.0
beautifulsoup4~=4.12.0
ffmpeg-python~=0.2.0
lottie~=0.7.0
mergedeep~=1.3.4
Pillow~=9.4.0
python_telegram_bot~=13.5
requests~=2.28.2
rlottie_python~=1.1.1
selenium~=4.8.3
signalstickers_client~=3.2.0
python-telegram-bot~=13.15
tqdm~=4.65.0
git+https://github.com/laggykiller/ttkbootstrap.git
Wand~=0.6.11