apngasm_python~=1.2.1
av~=11.0.0
beautifulsoup4~=4.12.3
rookiepy~=0.3.6
imageio~=2.33.1
memory-tempfile~=2.2.3
numpy~=1.26.3
Pillow~=10.2.0
pyoxipng~=9.0.0
python-telegram-bot~=20.5
requests~=2.31.0
rlottie_python~=1.2.1
selenium~=4.16.0
signalstickers-client~=3.3.0
tqdm~=4.66.1
ttkbootstrap-fork-laggykiller~=1.5.1
webp~=0.3.0