anyio==2.2.0
ffmpeg-python==0.2.0
lottie==0.7.0
python-telegram-bot==13.14
Wand==0.6.10
requests==2.28.1
signalstickers-client==3.2.0
pyinstaller==5.7.0
CairoSVG==2.5.2
Pillow==9.3.0
opencv-python==4.6.0.66
numpy==1.23.0